h1 {
    font-size: 60px;
    width: 80%;
    text-align: center;
  }
  #table-main {
    font-size: 16px;
    border-collapse: collapse;
    width: 80%;

  }
  .head{
    font-size: 30px !important;
  }
  th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 10px;
  }


 button:hover {
    background-color: rgb(179, 174, 174);

  }